@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&family=Walter+Turncoat&display=swap');

/* Dropdown Button */
.button-projects { 
    background-color: #22BABB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    font-family: 'Poppins', Helvetica, sans-serif;
}

/* The container <div> - needed to position the dropdown content */
.my-projects {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.my-links {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.my-links a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Poppins', Helvetica, sans-serif;
}

/* Change color of dropdown links on hover */
.my-links a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.my-projects:hover .my-links {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.my-projects:hover .button-projects {
    background-color: #348888;
}

h1 {
    font-family: 'Walter Turncoat', Arial;
}