@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

#content {
  max-width: 100%;
  margin: auto;
}

.home-title {
  font-family: 'Fedroka-One', Arial, sans-serif;
  font-size: 2em;
  margin-top: 10px;
  color: #348888;
}

h1 {
  font-family: 'Fedroka-One', Arial, sans-serif;
  font-size: 4em;
  margin-top: 10px;
  color: #348888;
  padding: 15px;
  background-color: #fcfbfb;
  margin: 25px;
}



header {
  display: grid;
  grid-template-columns: 300px repeat(4, 1fr);
  background-color: #adfff56e;
  place-items: center;
  justify-content: space-around;
  font-family: 'Fedroka-One', Arial, sans-serif;
}

.logo {
  max-width: 150px;
  border: #348888 solid 3px;
  border-radius: 100cm;
  margin: 10px;
  grid-column: 1/2;
  grid-row: 1/2;
}

nav { 
  grid-column: 2/6;
  display: flex;
  width: 100%;
  justify-content: space-around;
  text-align: center;
  align-content: center;
  font-size: 1.5em;
  list-style-type: none;
  font-family: 'Fedroka-One', Arial, sans-serif;
}

nav a {
  text-decoration: none;
  color: #348888;
  text-decoration: solid;
  font-family: 'Fedroka-One', Arial;

}

.button-box {
  text-align: center;
  grid-column: 5/6;
  grid-row: 1/2;
}

nav a:hover {
  background-color: #348888;
  color: whitesmoke;
}

#us-box {
  display: grid;
  place-items: center;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 1fr;
  position: relative;
  border-bottom: #348888 solid 3px;
  border-top: #348888 solid 3px;
}

#us-img {
  height: 100%;
  width: 100%;
  grid-row: 1/2;
  grid-column: 1/3;
}

#us-msg {
  text-align: left;
  grid-row: 1/2;
  grid-column: 1/2;
  position: absolute;
  z-index: 1;
}

.society-box{
  margin: 100px;
  color: #254646;
  text-align: left;
}

.society-img {
  float: left;
  width: 30%;
  padding: 25px;
  border: 10px;
}

.society-box h2{
  font-size: 4em;

}

.society-box p{
  font-size: 1.5em;
}



#final-msg {
  margin-top: 100px;
  padding: 50px;
  border-top: #348888 solid 3px;
}

#final-msg h3{
  text-align: center;
  font-family: 'Fedroka-One', Arial;
  padding-bottom: 40px;
}

.learn-more {
  background-color: #348888;
  color: whitesmoke;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}

body {
  background-color: #fcfbfb;
  font-family: 'Fredoka-One', Helvetica, sans-serif;
  font-size: 22px;
  margin: 0;
  padding: 0;
}

.msg p {
  color: black;
  font-family: 'Fredoka-One', Helvetica, sans-serif;
  font-size: .8em;
  padding-bottom: 15px;
}

#us-img, #custom-img, #logistic-img, #ship-img {
  width: 100%;
}

.society-box p, h2{
  width: 100%;
  margin: 10px;
}

footer .social img {
  padding-top: 15px;
}

footer {
  background-color: #adfff56e;
  padding: 25px 50px;
  margin-top: 2px;
  display: grid;
  grid-template-columns: 300px repeat(4, 1fr);
  grid-template-rows: 1fr;
  place-items: center;
  justify-content: space-around;
  align-items: center;
  font-family: 'Fedroka-One', Arial, sans-serif;
  color: #348888;
  text-decoration: none;
}

footer a{
  font-family: 'Fedroka-One', Arial, sans-serif;
  color: #348888;
}

.logo2  {
  max-width: 150px;
  border: #348888 solid 3px;
  border-radius: 100cm;
}

#logo_link {
  justify-self: center;
  align-self: center;
}

p {
  font-family: Helvetica, Arial
}


/* Subpage 2 */

#custom-box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  position: relative;
  place-items: center;
  border-bottom: #348888 solid 2px;
}

.home-title2 {
  grid-row: 1/2;
  grid-column: 1/3;
}

#custom-img {
  grid-row: 1/2;
  grid-column: 2/6;
}

.steps {
  margin: 25px;

}

#first-step {
  display: inline-flex;
  place-items: center;
}

#first-imgs {
  justify-content: space-around;
  display: inline-block;
  margin-left: 200px;
}

#first-imgs img{
  width: 12%;
  height: 12%;
  border: 3px solid #CCC;
  border-radius: 20%;
}

#second-step {
  display: inline-flex;
  place-items: center;
}

#third-step {
  display: inline-flex;
  place-items: center;
}


/*
#01, #02, #03, #04, #05

#01 {
  grid-row: 1/2;
  grid-column: 1/2;
}

#02 {
  grid-row: 1/2;
  grid-column: 2/3;
}

#03 {
  grid-row: 1/2;
  grid-column: 3/4;
}

#04 {
  grid-row: 1/2;
  grid-column: 4/5;
}

#05 {
  grid-row: 1/2;
  grid-column: 5/6;
} */

form {
    /* Center the form on the page */
    margin: 0 auto;
    margin-bottom: 30px;
    width: 800px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  form li+li {
    margin-top: 1em;
  }

  label {
    /* Uniform size & alignment */
    display: block;
    width: 400px;
    text-align: left;
  }

  input,
  textarea {
    /* To make sure that all text fields have the same font settings
   By default, textareas have a monospace font */
    font: 1em sans-serif;

    /* Uniform text field size */
    width: 800px;
    box-sizing: border-box;

    /* Match form field borders */
    border: 1px solid #999;
  }

  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }

  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;

    /* Provide space to type some text */
    height: 5em;
  }

  .button {
    /* Align buttons with the text fields */
    align-content: center;
    /* same size as the label elements */
  }

  button {
    /* This extra margin represent roughly the same space as the space
   between the labels and their text fields */
    margin-left: .5em;
  }

  #feedback {
    background-color: #22BABB;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;       
  }

  .moveDown {
    margin-top: 3em;
  }


@media screen and (max-width: 900px) {
  #content {
    font-size: 25px;  
  }

  nav a {
    font-size: .5em;
  }

  h1 {
    font-size: 2em;
  }

  .society-box h2 {
    font-size: 2em;
  }

  .society-box {
    text-align: center;
  }

  .society-img {
    min-width: 300px;
    float: none;
  }

  footer h3, a{
    font-size: .5em;
  }

  #logotipo2, .social {
    min-width: 100px;

  }
}