@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

#content {
  max-width: 2000px;
  margin: 0 auto;
}

.home-title {
  font-family: 'Fedroka-One', Arial;
  font-size: 2em;
  margin-top: 10px;
  color: #348888;
}

h1 {
  font-family: 'Fedroka-One', Arial;
  font-size: 4em;
  margin-top: 10px;
  color: #348888;
  padding: 15px;
  background-color: #fcfbfb;
  margin: 25px;
}

#us-box {
  
  position: relative;
}

.us-img {
  
  position: absolute;
}

#us-msg {
  text-align: left;
  padding-left: 100px;
  padding-top: 500px;
  position: absolute;
}

header {
  display: grid;
  grid-template-columns: 150px auto;
  background-color: #adfff56e;
  font-family: 'Fedroka-One', Arial;
}

.logo, .logotipo  {
  width: 100%;
  border: #348888 solid 3px;
  border-radius: 100cm;
  justify-self: center;
  align-self: center;
  margin: 10px;
  margin-left: 70px;
}

nav { 
  display: flex;
  width: 100%;
  justify-content: space-around;
  text-align: center;
  align-content: center;
  font-size: 1.5em;
  list-style-type: none;
  
}

nav a {
  margin-left: 100px;
  margin-top: 10px;
  margin-right: 100px;
  min-width: 120px;
  text-decoration: none;
  text-align: center;
  color: #348888;
  text-decoration: solid;
  font-family: 'Fedroka-One', Arial;
  padding: 35px;
}

nav a:hover {
  background-color: #348888;
  color: whitesmoke;
}

.society-box{
  margin: 100px;
  color: #254646;
  text-align: left;

}

.society-img {
  float: left;
  width: 30%;
  padding: 25px;
  border: 10px;
}

.society-box h2{
  font-size: 4em;
  padding-left: 500px;
}

.society-box p{
  font-size: 1.5em;
}

.button-box {
  text-align: center;
  align-content: center;
  align-self: center;
  margin-top: -20px;
}

#final-msg {
  margin-top: 100px;
  padding: 50px;
  
  border-top: #348888 solid 3px;
}

#final-msg h3{
  text-align: center;
  font-family: 'Fedroka-One', Arial;
  padding-bottom: 40px;
}

.learn-more {
  background-color: #348888;
  color: whitesmoke;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}

body {
  background-color: #fcfbfb;
  font-family: 'Fredoka-One', Helvetica, sans-serif;
  font-size: 22px;
  margin: 0;
  padding: 0;
}

.msg p {
  color: black;
  font-family: 'Fredoka-One', Helvetica, sans-serif;
  font-size: .8em;
  padding-bottom: 15px;
}

#us-img, #custom-img, #logistic-img, #ship-img {
  width: 100%;
}

.society-box p, h2{
  width: 100%;
  margin: 10px;
}

footer .social img {
  padding-top: 15px;
}

footer {
  background-color: #adfff56e;
  padding: 25px 50px;
  margin-top: 2px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Fedroka-One', Arial;
  color: #348888;
  text-decoration: none;
}

.logo2  {
  width: 25%;
  border: #348888 solid 3px;
  border-radius: 100cm;
}

#logo_link {
  justify-self: center;
  align-self: center;
}

#logotipo2 {
  display: flex;
}

p {
  font-family: Helvetica, Arial
}





form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 800px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  form li+li {
    margin-top: 1em;
  }

  label {
    /* Uniform size & alignment */
    display: block;
    width: 400px;
    text-align: left;
  }

  input,
  textarea {
    /* To make sure that all text fields have the same font settings
   By default, textareas have a monospace font */
    font: 1em sans-serif;

    /* Uniform text field size */
    width: 800px;
    box-sizing: border-box;

    /* Match form field borders */
    border: 1px solid #999;
  }

  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }

  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;

    /* Provide space to type some text */
    height: 5em;
  }

  .button {
    /* Align buttons with the text fields */
    align-content: center;
    /* same size as the label elements */
  }

  button {
    /* This extra margin represent roughly the same space as the space
   between the labels and their text fields */
    margin-left: .5em;
  }

  #feedback {
    background-color: #FFB46C;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;       
  }

  .moveDown {
    margin-top: 3em;
  }
